/* Global */
html{
    font-size: 16px;
    line-height: 1.4;
    font-family: "Open Sans", sans-serif;
}
.content{
    display: flex;
    align-items: center;
    padding: 1.875rem;
}
h1{
    font-size: 3rem;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
}
h3{
    font-size: 1.5rem;
    font-family: "Cabin", sans-serif;
    font-weight: bold;
}
.heading{
    text-align: center;
    display: block;
    padding: 2rem;
}
/* Header */
header{
    position: fixed;
    height: 4rem;
    width: 100%;
    z-index: 1;
    background-color: white;
    border-bottom: solid #DADBE5 1px;
}
header .logo{
    display: flex;
    align-items: center;
    flex: 1;
}
.logo img{
    padding-left: 1.5rem;
    margin-right: 1rem;
}
#name{
    font-family: "Cabin", sans-serif;
}
#academy{
    font-family: "Cabin", sans-serif;
    color:grey;
}
header nav ul{
    display: flex;
    margin-right: 3rem;
}
header nav ul li a:hover{
    color: dodgerblue;
    transition: 250ms;
}
nav li{
    padding-left: 1.5rem;
}
header .mobile{
    display: none;
}
@media only screen and (max-width: 760px){
    header .desktop{
        display: none;
    }
    header .mobile{
        display: block;
        width: 100%;
    }
    header .mobile ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    header .mobile ul li{
        padding: 0;
    }
}
/* Jumbotron */
.content.banner{
    padding-top: 4rem;
    background-color: #DADBE5;
}
.banner-image{
    max-width: 60%;
    height: auto;
    padding: 2rem 2.5rem 2rem 1.5rem;
}
#banner{
    width: 100%;
    height: auto;
}
.learn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}.learn h1,
 h3{
    margin-bottom: 1rem;
}
.learn h3{
    font-size: 1.5rem;
}
/* Button Goals */
.learn .button{
    border-radius: 4px;
    padding: 0.75rem;
    margin-top: 0.5rem;
    background-color: #3D3D40;
    width: 20rem;
    text-align: center;
    font-size: 1rem;
    transition: all 0.5s;
    cursor: pointer;
}
.learn .button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.learn .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.learn .button:hover span {
  padding-right: 25px;
}
.learn .button:hover span:after {
  opacity: 1;
  right: 0;
}
.learn .button a{
    color: white;
}
/*End of Jumbotron */
/* Practice & Thesis Structure */
.contain-left h1,
p{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.visual-container{
    max-width: 95%;
    height: auto;
    margin-top: 1rem;
}
.visual{
    width: 100%;
    height: auto;
}
.contain-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info{
    display: flex;
    padding: 1rem;
    border-bottom: solid #DADBE5 1px;
}
.info img{
    width: 35%;
    height: 35%;
}
.text{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0 0.5rem 1rem;
    margin-bottom: 0.5rem;
}
.text span{
    padding-bottom: 0.5rem;
}
#gray{
    background-color: #DADBE5;
}
.border{
    padding-top: 0.5rem;
    border-bottom: solid #DADBE5 1px;
}
/* Practice Only */
.text a{
    color: dodgerblue;
}
#practice-border{
    border-left: solid #DADBE5 1px;
}
/* Courses */
.courses{
    background-color: #DADBE5;
    padding-bottom: 1rem;
}
.course-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.course{
    padding: 1rem;
    max-width: 25%;
}
.course img{
    width: 100%;
    height: auto;
}
.description{
    display: flex;
    line-height: 1.4;
    flex-direction: column;
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: white;
}
.description span{
    color: #3D3D40;
    padding-top: 0.5rem;
}
/* Thesis Only */
#thesis{
    padding-top: 0;
}
/* Footer */
footer{
    padding: 1.5rem 2rem 4rem 2rem;
    border-top: solid #DADBE5 1px;
}
.footer{
    display: flex;
}
.copyright{
    flex-grow: 1;
}